<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/infoStyle.css">
    <meta charset="UTF-8">
    <title>Personal Information</title>
    <script>
        window.onload = function() {
            const birthYear = 2001;
            const currentYear = new Date().getFullYear();
            const age = currentYear - birthYear;
            document.getElementById("age").innerText = "Age: " + age;
        };
    </script>
</head>
<body>
<header>
    <h1>Lei Zhu</h1>
    <p>Software Engineer / Software Developer</p>
</header>

<section id="bio">
    <div>
        <h2>About Me</h2>
        <p id="age"></p>
        <p>Career Seeking: Software Development Engineer</p>
        <p>Languages: English, Chinese (Mandarin), French</p>
        <form action="/pdf" method="get">
            <button type="submit">
                View Resume
            </button>
        </form>
    </div>
    <img src="/picture/Me.jpg" alt="" width="120" height="160">

</section>

<section id="education">
    <h2>Education</h2>
    <p><strong>University of Electronic Science and Technology of China (UESTC)</strong></p>
    <p>Bachelor of Engineering in Computer Science and Technology</p>
    <p>Location: Chengdu, China</p>
    <p>Duration: Aug 2019 - Jun 2023</p><br>
    <p><strong>University of Illinois at Urbana-Champaign (UIUC)</strong></p>
    <p>Master of Science in Information Management</p>
    <p>Location: Champaign, USA</p>
    <p>Duration: Aug 2023 - May 2025</p>
</section>

<section id="skills">
    <h2>Skills</h2>
    <p>Microsoft Office, Python (Numpy, Pandas, Pytorch, Machine Learning),
        JAVA, Springboot, Javascript, R and C, MySQL/Hive SQL, Tableau, ETL,
        AWS, MongoDB, Kafka, Git, Jenkins, React, Redux, Data Analysis
    </p>
</section>

<section id="experience">
    <h2>Work Experience</h2>
    <p><strong>DiDi Chuxing</strong></p>
    <p>Location: Beijing, China</p>
    <p>Duration: Jul 2022 - Jan 2023</p>
    <p>Role: Software Engineer Intern</p>
    <br>
    <p><strong>Susallwave</strong></p>
    <p>Location: Shenzhen, China</p>
    <p>Duration: Feb 2022 - Jul 2022</p>
    <p>Role: Software Development Intern</p>
    <br>
    <p><strong>China Mingsheng Banking Corp., Ltd</strong></p>
    <p>Location: Chengdu, China</p>
    <p>Duration: Jul 2021 - Oct 2021</p>
    <p>Role: Financial Data Analyst</p>
</section>

<section id="contact">
    <h2>Contact</h2>
    <p>Email: <a href="mailto:zhulei010414@gmail.com">zhulei010414@gmail.com</a></p>
    <p>Website: <a href="https://github.com/Vincent-Zhul" target="_blank">GitHub</a></p>
</section>
</body>
</html>